    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/*-------------- TAGS-HTML --------------*/

body {
    background-color: #F3F3F5;
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    color: #4b2f29;
    text-align: center;
    font-size: x-large;
    margin: 5%;
}
hr {
    color: #F3F3F5;
    opacity: 10%;
    margin-top: 5%;
}

/*-------------- MENU-HEADER --------------*/

.cabecalho {
    display: block;
    margin: auto;
    background-color: #de5a79;
}
.menu-container {
    width: 100%;
    margin-bottom: 2.5%;
    background-color: #de5a79;
}
.menu {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin-bottom: 1%;
    background-color: #de5a79;
}
.menu-item {
    width: auto;
    height: 50%;
    color: #4b2f29;
}
.menu-item:hover {
    color: white;
}

/*-------------- CORPO-CARDS --------------*/

/*.corpo{
    display: block;
    margin-bottom: 2.5%;
}*/
.card-container {
    display: flex;
    width: 100%;
    margin-bottom:3%;
    justify-content: center;
    animation: bounceIn;
    animation-duration: 1s;
}
.card{
    width: 20rem;
}
.card-image-top {
    width: 100%;
    border: 1px solid #4b2f29;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: -1%;
}
.card-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8.5rem;
    text-align: center;
    background-color: azure;
    border: 1px solid #4b2f29;
    border-radius: 0px 0px 15px 15px;
}
.card-title{
    font-size: larger;
    margin-top: 2%;
    margin-bottom: 1.5%;
}
.card-text{
    font-size: medium;
    font-style: oblique;
    margin-top: 2%;
    margin-bottom: 1.5%;
}

/*-------------- FOOTER-RODAPE --------------*/

.rodape {
    display: block;
    background-color: #e5dbd0;
}
body .rodape-container{
    display: flex;
    justify-content:center;
    flex-direction: column;
}
.rodape-container-atributos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #6B2915;
    padding: 2%;
    text-align: center;
    color: #F3F3F5;
}
.rodape-container-atributos li {
    margin-top: 2%;
    margin-bottom: 2%;
}
.rodape-container-atributos h3{
    font-size:larger;
}
.rodape-contatos, .rodape-contatos, .rodape-endereco {
    justify-content: center;
    flex-direction: row;
}
.rodape-contatos a{
    color: #F3F3F5;
}
.rodape-contatos a:hover{
    color: #de5a79;
}
.direitos {
    text-align: center;
    font-size: medium;
    margin: 1%;
}
/*.criadores{
    color: white;
    text-align: center;
    font-size: small;
    margin: 1%;
}*/

/*-------------- MEDIA QUERIES MOBILE --------------*/

@media screen and (min-width: 450px) and (max-width: 650px){
    
}

/*-------------- MEDIA QUERIES TABLET --------------*/

@media screen and (min-width: 651px) and (max-width: 850px) {


}

/*-------------- MEDIA QUERIES MONITOR PEQUENO --------------*/

@media screen and (min-width: 851px) and (max-width: 1280px) {
    /*-------------- MENU-HEADER --------------*/

    .cabecalho {
        display: block;
        margin: auto;
        background-color: #de5a79;
    }
    .menu-container {
        width: 100%;
        height: 70px;
        margin-bottom: 2%;
        padding-top: 3%;
        background-color: #de5a79;
    }
    .menu {
        font-size: large;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0%;
        background-color: #de5a79;
    }
    .menu-item {
        width: auto;
        height: 50%;
        color: #4b2f29;
        font-size:larger;
    }
    .menu-item:hover {
        color: white;
        background-color:#de5a79;
    }
/*    --------------MUDANDO DE POSIÇÃO OS CARDS--------------*/
    #formCardBolos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*-------------- MEDIA QUERIES MONITOR MEDIO --------------*/

@media screen and (min-width: 1281px) and (max-width: 1600px) {

    /*-------------- MENU-HEADER --------------*/
    .menu-container {
        margin-bottom: 2%;
        height: 60px;
        padding-top: 1%;
    }

    /*    --------------MUDANDO DE POSIÇÃO OS CARDS--------------*/
    #formCardBolos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*-------------- MEDIA QUERIES MONITOR MEDIO --------------*/

@media screen and (min-width: 1601px) and (max-width: 1920px) {

    /*-------------- MENU-HEADER --------------*/
    .menu-container {
        margin-bottom: 2%;
        height: 70px;
        padding-top: 1%;
    }
    /*    --------------MUDANDO DE POSIÇÃO OS CARDS--------------*/
    #formCardBolos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}