    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/*-------------- TAGS-HTML --------------*/
/*#de5a79*/
body {
    background: linear-gradient(rgba(110, 56, 30), rgba(229, 219, 208)), url(../images/fundo.jpg);
    font-family: 'Noto Sans', sans-serif;
}
a {
    text-decoration: none;
}
h1 {
    color: #4b2f29;
    text-align: center;
    font-size: x-large;
    margin: 5%;
}
hr {
    color: #F3F3F5;
    opacity: 10%;
    margin-top: 5%;
}


/*-------------- MENU-HEADER --------------*/

.logotipo {
    width: 25%;
    margin-left: 10%;
}
#cabecalho {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: none;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}
#menu a {
    display: block;
    padding: 0.5rem;
    color:white;
}
#menu a:hover {
    color:#e5dbd0;
}
#btn-mobile {
    display: none;
}
@media (max-width: 600px) {

    /*-------------- MENU HAMBURGUER --------------*/
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #6E381E;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: 18vh;
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color:white;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
    /*-------------- CORPO MAIN --------------*/
    .fundo{
       width:100%;
       opacity:0.7;
    }
    .logotipo-inicio{
        width:40%;
        top:10%;
        left:30%;
        position:absolute;
    }
    main{
        background-position: center center;
        background-size: cover;
        background-position-y: 0px;
        background-repeat: no-repeat;
        padding:10px 0;
    }
    main h1{
       color:white; 
    }
    main p{
        margin:5%;
    }
    .objetivo{
        display:grid;
        grid-template-columns: 1fr 1fr;
        padding:15%;
        grid-gap: 5px;
        margin:-10%;
    }
    .objetivo img{
        width:80%;
    }
    .clientes-satisfeitos img{
        width:100%;
        border-radius:50px;
        border-left: 5px solid #6E381E;
    }
    .clientes-satisfeitos{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding:5%;
    }

    /*-------------- CORPO-CARDS --------------*/

    .card-container img {
        border-radius:10px;
    }

    .card-container {
        display: flex;
        flex-direction:column;
        width: 50%;
        height:400px;
        margin-left:25%;
        margin-bottom: 3%;
        justify-content: space-around;
        text-align:center;
        animation: bounceIn;
        animation-duration: 1s;
        border-bottom: 5px solid white;
        border-radius:10px;
    }

    .card {
        width: 20rem;
    }

    .card-image-top {
        width: 100%;
        border: 1px solid #4b2f29;
        border-radius: 15px 15px 0px 0px;
        margin-bottom: -1%;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 8.5rem;
        text-align: center;
        background-color: azure;
        border: 1px solid #4b2f29;
        border-radius: 0px 0px 15px 15px;
    }

    .card-title {
        font-size: larger;
        margin-top: 2%;
        margin-bottom: 1.5%;
    }

    .card-text {
        font-size: medium;
        font-style: oblique;
        margin-top: 2%;
        margin-bottom: 1.5%;
    }

    /*-------------- FOOTER-RODAPE --------------*/

    body .rodape {
        display: block;
        margin-bottom:-10%;
        background-color: #e5dbd0;
    }

    body .rodape-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        border-top: 2px solid #6E381E;
    }

    .rodape-container-atributos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background: none;
        padding: 10%;
        text-align: center;
        color: #6E381E;
    }

    .rodape-container-atributos ul li a{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .rodape-container-atributos h3 {
        font-size: medium;
    }

    .rodape-contatos, .rodape-contatos, .rodape-endereco {
        justify-content: center;
        flex-direction: row;
    }
    .rodape-contatos ul li, .rodape-contatos ul li, .rodape-endereco ul li{
        font-size: small;
    }

    .rodape-contatos a {
        color: #6E381E;
    }

    .rodape-contatos a:hover {
        color: #de5a79;
    }

    .direitos {
        text-align: center;
        font-size: medium;
        margin: 1%;
    }
        /*-------------- MEDIA QUERIES MONITOR PEQUENO --------------*/

@media screen and (min-width: 851px) and (max-width: 851) {

    /*    --------------MUDANDO DE POSIÇÃO OS CARDS--------------*/
    #formCardBolos {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card-container {
        width: 60%;
        height: 400px;
        margin-left: 25%;
    }
}
    /*-------------- MEDIA QUERIES MONITOR PEQUENO --------------*/

    @media screen and (min-width: 851px) and (max-width: 1000px) {


        /*    --------------MUDANDO DE POSIÇÃO OS CARDS--------------*/
        #formCardBolos {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .card-container {
            width: 60%;
            height: 400px;
            margin-left: 25%;
        }
    }
    @media screen and (min-width: 1000px) and (max-width: 1281px) {
        /*-------------- MENU-HEADER --------------*/
        .logotipo {
            width: 15%;
            margin-left: 10%;
        }
    }
    /*-------------- MEDIA QUERIES MONITOR MEDIO --------------*/

    @media screen and (min-width: 1281px) and (max-width: 1500px) {

        /*-------------- MENU-HEADER --------------*/
        .logotipo {
            width:10%;
            margin-left:10%;
        }
        #menu a {
            padding: 1rem 0;
            margin: 0 2rem;
            font-size:large;
        }

        /*    --------------MUDANDO DE POSIÇÃO OS CARDS--------------*/
        #formCardBolos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .card-container {
            width: 60%;
            height: 400px;
            margin-left: 25%;
        }
                /*-------------- FOOTER-RODAPE --------------*/
        .rodape-container-atributos {
            padding: 2%;
        }
        .rodape-container-atributos h3 {
            font-size: large;
        }
        .rodape-contatos ul li, .rodape-contatos ul li, .rodape-endereco ul li {
            font-size: medium;
        }
    }

    /*-------------- MEDIA QUERIES MONITOR MEDIO --------------*/

    @media screen and (min-width: 1501px) and (max-width: 1920px) {
        /*-------------- MENU-HEADER --------------*/
        .logotipo {
            width: 10%;
            margin-left: 10%;
        }

        #menu a {
            padding: 2rem 0;
            margin: 0 5rem;
            margin-left:5%;
            font-size: large;
        }

        /*    --------------MUDANDO DE POSIÇÃO OS CARDS--------------*/
        #formCardBolos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 5%;
        }
        /*-------------- CORPO-CARDS --------------*/

        main img {
            width: 100%;
            height: 50%;
        }

        .card-container {
            width: 70%;
            height: 450px;
        }
        /*-------------- FOOTER-RODAPE --------------*/
        .rodape-container-atributos {
            padding: 2%;
        }
        .rodape-container-atributos h3 {
            font-size: large;
        }
        .rodape-contatos ul li, .rodape-contatos ul li, .rodape-endereco ul li {
            font-size: medium;
        }
    }